*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: "Segoe UI",monospace;
}
#topNavBar{
	background-color: #1572A1;
	color: #EEEEEE;
}
#lst > li{
	cursor: pointer;
	padding-top: 3px;
	padding-bottom: 3px;
}
a:hover { 
	text-decoration: none; 
}

#mDiv{
	background-color: #EEEEEE;
}
#othTools,#othProj{
	margin-left: 10%;
	margin-right: 10%;
}
#about{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #FAEEE7;
}
h2,h4{
	color: #D96098;
}
h3{
	color: #1572A1;
}